body{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: white;
    background-color: #f5a1d9;
}
[type=text]{
    padding: 5px 0 5px 5px;
    padding-right: 300px;
    border-radius: 15px;
    border: 0.01px solid white;
}
.convert-button{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    border-radius: 15px;
    border: 0.05px solid black;
    background-color: rgb(252, 99, 252);
}